<div class='ui one column centered grid'>
  <div class='six wide column'>
    <div class='ui one column grid'>
      <div class='left aligned column'>
        <h1>Login</h1>
      </div>
      <div class='left aligned column'>
        <form [formGroup]='loginForm' (ngSubmit)='onSubmit()' [ngClass]="{ 'error': submitted && loginForm.invalid }" class="ui form">
          <div class="field" [ngClass]="{ 'error': submitted && f.email.invalid }">
            <label>Email</label>
            <input type="email" formControlName='email' name="email" required>
          </div>
          <div *ngIf="f.email.invalid" class="ui error message">
            <p *ngIf="!!f.email.errors.required">
              Email is required.
            </p>
            <p *ngIf="!!f.email.errors.email">
              Email is invalid.
            </p>
          </div>

          <div class="field" [ngClass]="{ 'error': submitted && f.password.invalid }">
            <label>Password</label>
            <input type="password" formControlName='password' name="password" required>
          </div>
          <div *ngIf="f.password.invalid" class="ui error message">
            <p *ngIf="!!f.password.errors.required">
              Password is required.
            </p>
            <p *ngIf="!!f.password.errors.minlength">
              Password must be at least 6 characters.
            </p>
          </div>
          <p>New user? <a routerLink='/signup'>Sign up here</a>.</p>
          <button class="ui button primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

