<div class='ui centered grid'>
  <div class='row'>
    <div class='six wide column'>
      <i class="massive exclamation triangle icon"></i>
    </div>
  </div>
  <div class='row'>
    <div class='six wide column'>
      <h1>
        {{ errorCode }} {{ errorCodeName }}
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='six wide column'>
      <h3>
        {{ errorMessage }}
      </h3>
    </div>
  </div>
</div>

