<div class='ui centered grid'>
  <div class='sixteen wide column'>
    <p *ngIf='todoItems.length === 0; else showTodoItems'>
      No Todo Items yet!
    </p>
    <ng-template #showTodoItems>
      <div class='ui huge divided selection list'>
        <div *ngFor='let todoItem of todoItems' class='item'>
          <div class='content'>
            {{todoItem.description}}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
