<div class='ui centered grid'>
  <div class='fourteen wide column'>
    <ng-container *ngIf="!todoList; else showTodoList">
      Loading TodoList...
    </ng-container>
    <ng-template #showTodoList>
      <div class='ui centered grid'>
        <div class='row'>
          <div class='eight wide column'>
            <h2 class="ui dividing left aligned header">
              <i class="list icon"></i>
              <div class="content">
                {{ todoList.title }}
                <div *ngIf="todoList.description" class="sub header">
                  {{ todoList.description }}
                </div>
              </div>
            </h2>
          </div>
        </div>
        <div class='row'>
          <div class='eight wide column'>
            <app-show-items [todoItems]='todoItems'></app-show-items>
          </div>
        </div>
        <div class='row'>
          <div class='eight wide column'>
            <app-add-item
              (addItemEvent)="addItem($event)"
              [todoListId]='todoList.id'
            ></app-add-item>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
