<div class='ui one column centered grid'>
  <div class='six wide column'>
    <div class='ui one column grid'>
      <div class='left aligned column'>
        <h1>Sign Up</h1>
      </div>
      <div class='left aligned column'>
        <form [formGroup]='signupForm' (ngSubmit)='onSubmit()' [ngClass]="{ 'error': submitted && signupForm.invalid }" class="ui form">
          <div class='two fields'>
            <div class='field' [ngClass]="{ 'error': submitted && f.first_name.invalid }">
              <label>First Name*</label>
              <input type='text' formControlName='first_name' required>
            </div>
            <div class='field' [ngClass]="{ 'error': submitted && f.last_name.invalid }">
              <label>Last Name*</label>
              <input type='text' formControlName='last_name' required>
            </div>
          </div>
          <div *ngIf="f.first_name.invalid || f.last_name.invalid" class="ui error message">
            <p *ngIf="!!(f.first_name.errors.required || f.last_name.errors.required)">
              First name and last name are required.
            </p>
          </div>

          <div class='field'>
            <label>Preferred First Name</label>
            <input type='text' formControlName='preferred_name'>
          </div>

          <div class="field" [ngClass]="{ 'error': submitted && f.email.invalid }">
            <label>Email*</label>
            <input type="email" formControlName='email' required>
          </div>
          <div *ngIf="f.email.invalid" class="ui error message">
            <p *ngIf="!!f.email.errors.required">
              Email is required.
            </p>
            <p *ngIf="!!f.email.errors.email">
              Email is invalid.
            </p>
          </div>

          <div class="field" [ngClass]="{ 'error': submitted && f.password.invalid }">
            <label>Password*</label>
            <input type="password" formControlName='password' required>
          </div>
          <div *ngIf="f.password.invalid" class="ui error message">
            <p *ngIf="!!f.password.errors.required">
              Password is required.
            </p>
            <p *ngIf="!!f.password.errors.minlength">
              Password must be at least 6 characters.
            </p>
          </div>

          <p>Already registered? <a routerLink='/login'>Login here</a>.</p>
          <button class="ui button primary" type="submit">Register</button>
        </form>
      </div>
    </div>

  </div>
</div>
