<div class='ui centered one column grid'>
    <div id='nav-wrapper' class='sixteen wide column'>
        <div class='ui two column bottom aligned grid'>
            <div class='left aligned column'>
                <a routerLink='/'><h3 class='title'>Homeboard</h3></a>
            </div>
            <div class='right aligned column'>
                <button *ngIf="isLoggedIn()" (click)="logOut()" type="button" class="ui button">Log Out</button>
            </div>
        </div>
    </div>
    <div id='body-wrapper' class='sixteen wide column'>
        <router-outlet></router-outlet>
    </div>
</div>
