#nav-wrapper {
    background-color: #99ccff;
    height: 75px;

    .title {
        color: white;
        padding-left: 1rem;
    }
}

#body-wrapper {
    background-color: #e6f2ff;
    min-height: 100vh;
}
