<div class='ui centered grid'>
  <div class='sixteen wide column'>
    <div class='ui segment'>
      <form
        [formGroup]='todoListForm'
        (ngSubmit)='onSubmit()'
        [ngClass]="{ 'error': submitted && todoListForm.invalid }"
        class="ui form"
      >
        <div class="two fields">
          <div class="field" [ngClass]="{ 'error': submitted && f.title.invalid }">
            <label>Title</label>
            <input type="text" formControlName='title' name="title" required>
          </div>
          <div class="field">
            <label>Description</label>
            <input type="text" formControlName='description' name="description">
          </div>
        </div>
        <div *ngIf="f.title.invalid" class="ui error message">
          <p *ngIf="!!f.title.errors.required">
            Title is required.
          </p>
        </div>
        <button class="fluid ui button primary" type="submit">Create New List</button>
      </form>
    </div>
  </div>
</div>
