<div class='ui centered grid'>
  <div class='ten wide column'>
    <div class='ui segment'>
      <form
        [formGroup]='todoItemForm'
        (ngSubmit)='onSubmit()'
        [ngClass]="{ 'error': submitted && todoItemForm.invalid }"
        class="ui form">
        <div class="field">
          <label>Description*</label>
          <input type="text" formControlName='description' name="description" required>
        </div>
        <div *ngIf="f.description.invalid" class="ui error message">
          <p *ngIf="!!f.description.errors.required">
            Description is required.
          </p>
        </div>
        <button class="fluid ui button primary" type="submit">Add Todo Item</button>
      </form>
    </div>
  </div>
</div>
