<div class='ui centered grid'>
  <div class='sixteen wide column'>
    <h3 class="ui top attached header">
      Lists
    </h3>
    <div class='ui attached segment'>
      <p *ngIf='todoLists.length === 0; else showTodoLists'>
        No Todo Lists yet!
      </p>
      <ng-template #showTodoLists>
        <div class='ui divided link items'>
          <div *ngFor='let todoList of todoLists' routerLink='/lists/{{todoList.id}}' class='item'>
            <div class='content'>
              <div class='header'>{{todoList.title}}</div>
              <div class='description'>{{todoList.description}}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
