<div class='ui centered grid'>
  <div class='fourteen wide column'>
    <div class='ui centered grid'>
      <div class='row'>
        <h2>Hello, {{ nameForDisplay }}!</h2>
      </div>
      <div class='row'>
        <div class='eight wide column'>
          <app-show-lists [todoLists]='todoLists'></app-show-lists>
        </div>
      </div>
      <div class='row'>
        <div class='eight wide column'>
          <app-add-list (addListEvent)="addList($event)"></app-add-list>
        </div>
      </div>
    </div>
  </div>
</div>
